@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400italic);/* ============ COLORS ============ */

$orange: #e3561d;
$blue: #26427f;
$red: #a20303;
$grey: #858585;
$light-grey: #d8d8d8;

/* ============ FONTS ============ */

$font-helvectica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-crimson: 'Crimson Text', serif;
$font-league: 'League Gothic';