@import "fonts";
@import "variables";
@import "global";

.login-wrapper .box {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 0px;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
  form {
    margin-bottom: 0px;
  }
  h2 {
    font-weight: normal;
    color: black;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
  }
  input[type="email"], input[type="password"] {
    width: 320px;
    background: #f2f2f2;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #999;
    border-bottom: 1px solid #bbb;
  }
  input.btn {
    padding: 5px 20px;
    font-size: 1.3em;
  }
  .form-actions {
    background: none;
    border-top: none;
  }
  .control-group:not(:last-child) {
    label{
      display: none;
    }
  }
  .control-group:nth-of-type(2){
    margin-bottom: 0px;
  }
  .control-group:last-child {
    width: 120px;
    position: relative;
    top: -10px;
    label{
      float: right;
    }
    .controls {
      float: left;
      width: 30px;
      position: relative;
      top: -1px;
    }
  }
  .form-actions {
    padding: 0px;
    margin: 40px 0px 0px 0px;
  }
  a {
    float: right;
    position: relative;
    top: -10px;
    left: -5px;
  }
}

